{% load i18n %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" manifest="{% url 'cache_manifest' %}"> <![endif]-->
    <head>
        <title>{{ Site.name }} {% block title %}/ {% endblock %}</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        {% block css %}
        <!--[if IE]>
            <link href="{{ STATIC_URL }}stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        {% endblock css %}
        <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
